@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

body {
    background: #eaeaea;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color:#222;
    text-decoration: none;
    font-weight: 600;
}

.navbar a {
    font-size: 18px;
    color: #222;
    text-decoration: none;
    font-weight: 500;
    margin: 0 20px;
}

.navbar a:hover,
.navbar a.active {
    color: #1743e3;
}

social.media {
    display: flex;
    justify-content: space-between;
    width: 150px;
    height: 40px;
    
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    transform: rotate(45deg);
    transition: .5s;
}

.social-media a:hover {
    border-color: red;

}

.social-media a i {
    font-size: 24px;
    color:red;
    transform: rotate(-45deg);

}

.home {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 50px 8% 0;
}

.home-content {
    font-size: 16px;
    margin: 15px 0 30px;
}

.btn {
    display: inline-block;
    padding: 10px 28px;
    background: #1743e3;
    border: 2px solid #1743e3;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 16px;
    color: #eaeaea;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    transition: .5s;
}

.btn:hover {
    background: transparent;
    color: #1743e3;
}