/* style.css */

/* Link-Menü-Stil */
.nav-menu {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    list-style: none;
    display: flex;
    justify-content: left;
    margin-left: 4.5%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 7%;
    box-shadow: 3px 10px 17px 0px #cbcbcb;
    border-radius: 10px;
}




.nav-menu a {
    text-decoration: none;
    color: #000;
    padding: 10px 20px;
    border-radius: 5px;
}

.nav-menu li {
    margin: 0 10px;
  }

.nav-menu a:hover {
    background-color: #88d8ff; /* Hintergrundfarbe bei Hover */
  }


/* Allgemeine Stildefinitionen für den gesamten Inhalt */
body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #731515;  /*Textfarbe auf Weiß setzen */
    /* background-image: url('Pictures/home.png'); */
    /*background-repeat: no-repeat;
    background-size: cover;*/
}

/* Header-Stil */
header {
    padding-top: 1%;
    padding-bottom: 200px;
    padding-right: 0;
    margin-right: 0%;
    margin-left: 8%;
    text-align: left;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #ffffff;  /*Textfarbe auf Weiß setzen */
    /* background-image: url('../Pictures/banner-43.png'); */
    background-repeat: no-repeat;
    background-position: top right;
    /* backdrop-filter: blur(9px); */
    /* box-shadow: 5px 5px 5px #888888; */
}




header h1 {
    font-size: 3.5em;
    color: #2fbffe;
    margin-top: 5%;
    padding-top: 0%;
    margin-right: 37%;
    padding-left: 4%;
}

header h3 {
    font-size: 0.7em;
    color: #70708f;
    text-align: left;
    margin-left: 0%;
    margin-right: 59%;
    line-height: 1.7;
    padding-left: 6%;
}

.login-button {
    display: inline-block;
    padding: 10px 20px;
    
    margin-top: 10px;
    background-color: #2fbffe;;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-left: 34%;
    
  }
  
  .login-button:hover {
    background-color: #093d75;
  }


/* Login-Bereich-Stil */
.login-section {
    text-align: center;
    padding: 60px;
    margin-top: 10px;
    background-color: #2fbffe;
}

.login-section h2 {
    font-size: 2em;
}

.login-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.login-section button {
    background-color: #9bd5fb; /* Blaue Hintergrundfarbe für den Button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Sanfte Farbübergänge bei Hover */
}

.login-section button:hover {
    background-color: #2980b9; /* Dunklere Blaufarbe beim Hover */
}

/* Download-Bereich-Stil */
.download-section {
    text-align: center;
    padding: 40px;
}

.download-section h2 {
    font-size: 2em;
}

.download-section ul {
    list-style: none;
    padding: 0;
}

.download-section li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.download-section a {
    text-decoration: none;
    color: #fff;
}

/* Footer-Stil */
footer {
    text-align: center;
    padding-top: 50%;;
    padding: 20px;
    background-color: rgba(87, 84, 84, 0.2); /* Transparenter Hintergrund für den Footer */
    color: rgb(8, 8, 8)000;
}

/* Copyright-Text-Stil */
footer p {
    font-size: 1.2em;
}

input[type="file"] {
    display: none;
}

/* Stile für den angepassten Upload-Button */
.custom-upload-btn {
    background-color: #0077cc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.custom-upload-submit {
    background-color: #0077ac;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Stile für das angepasste Upload-Element */
.custom-upload-input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file{
    background-color: #0077ab;
}


/*NEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEW*/
body::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 120%;
    /* background-image: url('../Pictures/login-background.jpg'); */
    background-image: linear-gradient(to bottom, rgb(115 211 249 / 1%), rgb(8 8 8 / 74%)), url(../Pictures/login-background.jpg);
    border-radius: 80px;
    background-position: center;
    background-size: cover;
    margin-top: 100px;
  }
  
  .container {
      display: flex;
      justify-content: center;
      align-items: center;
      /* min-height: 100vh; */
      /* max-height: 100%; */
  }
  
  .login-box {
      width: 400px;
      border-radius: 99px;
      padding: 80px;
      text-align: center;
      border: px solid rgba(255, 255, 255, 0.5);
      backdrop-filter: blur(9px);
      -webkit-backdrop-filter: blur(9px); /* Hinzugefügter Hover-Effekt */
  }


  
  h1 {
      font-size: 2em;
      margin-bottom: 20px;
      color: #fff;
  }
  
  form {
      margin-top: 20px;
  }
  
  label {
      display: block;
      font-size: 1.2em;
      color: #fff;
      padding-bottom: 25px;
  }
  
  input[type="text"],
  input[type="password"] {
      width: 100%;
      padding-top: 15px;
      font-size: 1.2em;
      margin-bottom: 20px; /* Vergrößerte Lücke zwischen den Feldern */
      border: 3px solid #ffffff14; /* Entfernen Sie die Feldgrenzen */
      border-bottom: 10px solid #23262485; /* Fügen Sie eine untere Linie hinzu */
      background-color: transparent; /* Transparenter Hintergrund */
      transition: border-bottom 0.8s linear(0 0%, 0 2.27%, 0.02 4.53%, 0.04 6.8%, 0.06 9.07%, 0.1 11.33%, 0.14 13.6%, 0.25 18.15%, 0.39 22.7%, 0.56 27.25%, 0.77 31.8%, 1 36.35%, 0.89 40.9%, 0.85 43.18%, 0.81 45.45%, 0.79 47.72%, 0.77 50%, 0.75 52.27%, 0.75 54.55%, 0.75 56.82%, 0.77 59.1%, 0.79 61.38%, 0.81 63.65%, 0.85 65.93%, 0.89 68.2%, 1 72.7%, 0.97 74.98%, 0.95 77.25%, 0.94 79.53%, 0.94 81.8%, 0.94 84.08%, 0.95 86.35%, 0.97 88.63%, 1 90.9%, 0.99 93.18%, 0.98 95.45%, 0.99 97.73%, 1 100%); /* Hinzugefügter Hover-Effekt für die untere Linie */
  }
  
  
  input[type="text"]:hover,
  input[type="password"]:hover {
      border-bottom: 2px solid #fff; /* Ändern Sie die Linienfarbe bei Hover */
  }
  
  input[type="submit"] {
      background-color: #0c1c27;
      color: #fff;
      padding: 10px 20px;
      font-size: 1.2em;
      /* cursor: pointer; */
      border-radius: 500px;
      transition: background-color 0.3s ease;
      backdrop-filter: blur(9px);
  }
  
  input[type="submit"]:hover {
      background-color: #354b4f;
      ;
  }
  