/* style.css */

/* Link-Menü-Stil */
.nav-menu {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: linear-gradient(to bottom, rgb(77, 132, 132), #55196e); ; /* Hintergrundfarbe des Menüs */
    padding: 20px 0;
    text-align: center;
    background-image: url('nav.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: background-color 0.3s ease; /* Sanfte Farbübergänge bei Hover */
}

.nav-menu a:hover {
    background-color: #e2d3d3; /* Hintergrundfarbe bei Hover */
}


/* Allgemeine Stildefinitionen für den gesamten Inhalt */
body {
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
   
    color: #ffffff;  /*Textfarbe auf Weiß setzen */
    /*background-image: url('Pictures/home.png');*/
    /*background-repeat: no-repeat;
    background-size: cover;*/
   
    

}

/* Header-Stil */
header {
    padding-top: 20px;
    padding-bottom: 100%;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-family: "Century Gothic", CenturyGothic, Geneva, AppleGothic, sans-serif;
    color: #ffffff;  /*Textfarbe auf Weiß setzen */
    background-image: url('Pictures/banner2.png');
    background-repeat: no-repeat;
    
    
    
    
   
}

header h1 {
    font-size: 3em;
}



/* Login-Bereich-Stil */
.login-section {
    text-align: center;
    padding: 40px;
}

.login-section h2 {
    font-size: 2em;
}

.login-section p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.login-section button {
    background-color: #9bd5fb; /* Blaue Hintergrundfarbe für den Button */
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Sanfte Farbübergänge bei Hover */
}

.login-section button:hover {
    background-color: #2980b9; /* Dunklere Blaufarbe beim Hover */
}

/* Download-Bereich-Stil */
.download-section {
    text-align: center;
    padding: 40px;
}

.download-section h2 {
    font-size: 2em;
}

.download-section ul {
    list-style: none;
    padding: 0;
}

.download-section li {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.download-section a {
    text-decoration: none;
    color: #fff;
}

/* Footer-Stil */
footer {
    text-align: center;
    padding-top: 50%;;
    padding: 20px;
    background-color: rgba(87, 84, 84, 0.2); /* Transparenter Hintergrund für den Footer */
    color: rgb(8, 8, 8)000;
}

/* Copyright-Text-Stil */
footer p {
    font-size: 1.2em;
}

input[type="file"] {
    display: none;
}

/* Stile für den angepassten Upload-Button */
.custom-upload-btn {
    background-color: #0077cc;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.custom-upload-submit {
    background-color: #0077ac;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

/* Stile für das angepasste Upload-Element */
.custom-upload-input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file{
    background-color: #0077ab;
}