
/* Link-Menü-Stil */
.nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: #333; /* Hintergrundfarbe des Menüs */
    padding: 20px 0;
    text-align: center;
}

.nav-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: background-color 0.3s ease; /* Sanfte Farbübergänge bei Hover */
}

.nav-menu a:hover {
    background-color: #f093f8; /* Hintergrundfarbe bei Hover */
}

/* Styles for login box and circle */

/* Styles for login box and dotted border */

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 300px;
    height: 300px;
    border: 2px dashed #fff;
    background: linear-gradient(to bottom, #fff, #8e44ad);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: scaleOut 3s ease-in-out;
}

.dotted-border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px dashed transparent;
    border-radius: 10px;
    animation: dashBorder 2s infinite linear;
}

.login-box {
    background-color: #fff;
    padding: 200px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    font-size: 2em;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 1.2em;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}

@keyframes scaleIn {
    0% {
        transform: scale(0.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dashBorder {
    0% {
        border-color: #fff;
    }
    50% {
        border-color: #8e44ad;
    }
    100% {
        border-color: #fff;
    }
}
