
/* Link-Menü-Stil */
.nav-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    padding: 20px 0;
    text-align: center;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    border-radius: 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.nav-menu a {
    display: block;
    text-decoration: none;
    color: #fff;
    padding: 10px 0;
    transition: background-color 0.3s ease; /* Sanfte Farbübergänge bei Hover */
}

.nav-menu a:hover {
    background-color: #f093f8; /* Hintergrundfarbe bei Hover */
}

/* Style für die Login-Box */

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('Pictures/hero-bg.jpg');
  background-position: center;
  background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.login-box {
    width: 400px;
    border-radius: 8px;
    padding: 30px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px); /* Hinzugefügter Hover-Effekt */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    font-size: 1.2em;
    color: #fff;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
    margin-bottom: 20px; /* Vergrößerte Lücke zwischen den Feldern */
    border: none; /* Entfernen Sie die Feldgrenzen */
    border-bottom: 2px solid #fff; /* Fügen Sie eine untere Linie hinzu */
    background-color: transparent; /* Transparenter Hintergrund */
    transition: border-bottom 0.3s ease; /* Hinzugefügter Hover-Effekt für die untere Linie */
}


input[type="text"]:hover,
input[type="password"]:hover {
    border-bottom: 2px solid #fff; /* Ändern Sie die Linienfarbe bei Hover */
}

input[type="submit"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #2980b9;
}
